<div class="col-md-1 custom_overview">
  <p style="font-size: 15px;color:black">Dashboard</p>
  <h2>News:</h2>
</div>
<div class="col-md-7 custom_overview">
</div>
<div class="col-md-4 custom_overview">
</div>

	<div class="">
		<div class="col-md-8">
		    <div class="form-group">
        <label for="usr">Name:</label>
        <input type="text" class="form-control" id="usr" value="{{Name}}">
      </div>
      <div class="form-group">
        <label for="email">email:</label>
        <input type="text" class="form-control" id="email" readonly value="{{email}}">
      </div>
		</div>
		<div class="col-md-4"></div>
</div>